.home-viewall {
    h1 {
        /* 33px - Heading 1 */
        font-family: DM Sans;
        font-size: 33px;
        font-weight: 500;
        line-height: 43px;
        letter-spacing: 0%;
        text-align: left;
    }

    a {
        color: rgb(161, 138, 104);
        font-family: DM Sans;
        font-size: 20px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: left;
        text-transform: capitalize;
    }
}