@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: 'Allerta';
    src: url('./assets/fonts/AllertaStencil-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'DM Sans';
    src: url("./assets/fonts/DMSans-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'DM Sans';
    src: url("./assets/fonts/DMSans-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'DM Sans';
    src: url("./assets/fonts/DMSans-Medium.ttf") format("truetype");
    font-weight: 500;
}

$gold: rgb(161, 138, 104);

.container {
    // max-width: 1524px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.gold {
    color: $gold;
}

@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}