.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
}

.modal-body label {
    display: block;
    margin-bottom: 10px;
}

.modal-body input,
.modal-body select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}




@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');





.card {
    width: 100%;
    margin: auto;
    color: black;
    border-radius: 20px;
}

p {
    margin: 0px;
}

.container .h8 {
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.btn-order {
    height: 50px;
    color: white;
    padding: 0 15px;
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
    border: none;
    transition: 0.5s;
    background-size: 200% auto;
    display: flex;
    align-items: center;
    justify-content: start;
}


.btn-order:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}





.form-control {
    color: white;
    background-color: #223C60;
    border: 2px solid transparent;
    height: 60px;
    padding-left: 20px;
    vertical-align: middle;
}

.form-control:focus {
    color: white;
    background-color: #0C4160;
    border: 2px solid #2d4dda;
    box-shadow: none;
}

.text {
    font-size: 14px;
    font-weight: 600;
}

::placeholder {
    font-size: 14px;
    font-weight: 600;
}